Source: kvp-server
Section: internet
Priority: extra
Maintainer: Anton <avm.slim@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: kvp-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Server for quick message
 Server for processing fast communications using a protocol "kvp".
 
 
